#search-container {
    text-align: center;
    margin-top: 6.25vw;
    position: relative; 
    z-index: 1; 
}
#search-input {
    padding: 1.042vw;
    width: 26.042vw;
    border-radius: 1.042vw;
    border: 0.052vw solid #f0d210;
    font-size: 0.833vw;
    background-image: url('/images/searchwhite.png');
    background-size: 1.302vw 1.302vw;
    background-repeat: no-repeat;
    background-position: 0.781vw center;
    color: white; 
    text-indent: 1.042vw; 
    transition: transform 0.35s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: rgb(30, 30, 30);
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 1.563vw;
    font-size: 1.563vw;
    position: relative;
    z-index: 2; 
}
#search-input::placeholder {
    color: white;
}
#search-input:focus {
    transform: scale(1.05);
    border: 0.052vw solid #f0d210;
    outline: none; 
    box-shadow: 0 0 1.042vw 0 #f0d210;
}
#search-results {
    margin-top: 1.042vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game {
    margin: 0.521vw;
    cursor: pointer;
    position: relative;
}
.game img {
    width: 10.417vw;
    height: 10.417vw;
    object-fit: cover;
    object-position: center;
    border-radius: 1.042vw;
    transition: all 0.35s ease; 
}
.game:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 0 0.104vw #f0d210; 
    filter: brightness(0.7); 
}
.game .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.25vw; 
    opacity: 0;
    transition: opacity 0.35s ease; 
}
.game:hover .overlay {
    opacity: 1;
}

.footer {

margin-top: 30vw; 
}


.loading-message {
font-size: 0.833vw;
color: #ffffff; 
font-weight: bold; 
}

@keyframes waveColor {
0% {
background-position: 200% 0;
}
100% {
background-position: -200% 0;
}
}

